// Mixins
mixin paramform(param)
  .form-inline.param
    label(for="p_name_#{ param.name }") Name:
    input.form-control.param_field.p_name( id="p_name_#{ param.name }" type="text" value="#{ param.name }" style="width:100px;" )
    label(for="p_min_#{ param.name }") Min:
    input.form-control.param_field.p_min( id="p_min_#{ param.name }" type="text" value="#{ param.min }" style="width: 50px;" )
    label(for="p_max_#{ param.name }") Max:
    input.form-control.param_field.p_min( id="p_min_#{ param.name }" type="text" value="#{ param.max }" style="width: 50px;" )
    label(for="p_step_#{ param.name }") Increment:
    input.form-control.param_field.p_min( id="p_min_#{ param.name }" type="text" value="#{ param.step }" style="width: 50px;" )

// Document
doctype html
html(lang='en')
  head
    title 3Sketch
    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.2.0/codemirror.css")
  body
    .navbar.navbar-inverse.navbar-static-top(role="navigation")
      .container-fluid
        .navbar-header
          span(style="font-size: 1.5em; color: rgb(90,90,90); display: block; margin-top: 5px;") 3Sketch
    .container-fluid
      .row
        .col-md-4.sidebar
          .p Write a function that returns a single THREE.Geomtry object
          form( role="form" )
            .form-group
              button.btn.btn-default#add_param
                span.glyphicon.glyphicon-plus
                span Add a parameter
            each param in params
              +paramform( param )
          .row                
            .col-sm-12( style="margin-top:5px; margin-bottom:5px;" )
              #fnc1 function( 
                span#args
                ) {
              #codeGoesHere( style="margin-top: 5px; margin-bottom:5px;" )
              #fnc2 }
              button.btn.btn-default#run_button( style="margin-top:10px;" ) Run
        .col-md-8(style="height:100%")
          iframe(name="scene" style="width:900px; height:600px;")

    script( src="/js/jquery.min.js" )
    script( src="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.2.0/codemirror.min.js" )
    script( src="/js/3sketch.js" )

//form(method="post" target="scene" action="https://3sketch_display-c9-skewart.c9.io/_display") 
    