// Mixins
mixin paramform(param)
  .form-inline.param(style="margin-bottom:5px;")
    label(for="p_name_#{ param.name }") Name:&nbsp
    input.input-sm.form-control.param_field.p_name( id="p_name_#{ param.name }" type="text" value="#{ param.name }" style="width:100px;" )
    label.p_label(for="p_min_#{ param.name }") Min:&nbsp 
    input.input-sm.form-control.param_field.p_min( id="p_min_#{ param.name }" type="text" value="#{ param.min }" style="width: 50px;" )
    label.p_label(for="p_max_#{ param.name }") Max:&nbsp
    input.input-sm.form-control.param_field.p_max( id="p_max_#{ param.name }" type="text" value="#{ param.max }" style="width: 50px;" )
    label.p_label(for="p_step_#{ param.name }") Increment:&nbsp 
    input.input-sm.form-control.param_field.p_step( id="p_step_#{ param.name }" type="text" value="#{ param.step }" style="width: 50px;" )
    &nbsp &nbsp
    button.btn.btn-default.btn-xs.glyphicon.glyphicon-remove.p_del( id="p_del_${ param.name }" style="float:right; margin-top:6px; background-color:rgb(160,160,160)")
// Document
doctype html
html(lang="en" )
  head
    title 3Sketch
    link( rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" )
    link(rel="stylesheet" href="/css/codemirror.css")
    style.
      .topbar {
        /*background-color: rgb(223,227,245);*/
        margin-bottom: 5px;
        padding: 5px 0px 5px 0px;
      }
      .option {
        color: rgba(255,255,255,0.6);
      }
      .opt_selected {
        color: white;
      }
      .option:hover {
        cursor: pointer;
      }
      .title {
        float: left;
        font-size: 1.4em;
        color: white;
        text-decoration: none;
      }
      .title:hover {
        cursor: pointer;
        text-decoration: none;
        color: white;
      }
      .about {
        float: right;
        font-size: 1.1em;
        padding-top: 3px;
      }
      .sb {
        position: absolute;
        left: 0px;
        top: 0px;
        bottom: 0px;
        background-color: rgb(210,210,210);
        transition: left 1s;
        -webkit-transition: left 1s;
      }
      .display_area {
        position: absolute;
        right: 0px;
        top: 0px;
        bottom: 0px;
        transition: width 1s;
        -webkit-transition: width 1s;
      }
      .p_label {
        margin-left:7px;
      }
      .func {
        margin: 7px 0px 7px 0px;
        color: black;
      }
      .hide_code_panel {
        position:absolute; 
        bottom:15px; left:15px; 
        width:30px; height:30px; 
        border-radius:15px; 
        background-color: rgba(200,200,200,0.7); 
        padding:6px 8px;
      }
      .hide_code_panel:hover {
        background-color: rgb(225,225,225);
        cursor: pointer;
      }
      .mr { transition: left 1s; -webkit-transition: left 1s; }
  body( style="background-color: rgb(0,0,0); overflow:hidden;" )
    .container-fluid
      .row.mr#main_row( style="position:absolute; height: 100%; width: 100%;" )
        .col-md-5.sidebar.sb#code_panel
          .row.topbar.bg-primary
            .col-md-12
              a.title( href="#{ main_url }" ) 3sketch
              .about.option#opt_about about
              .about &nbsp | &nbsp
              .about.option#opt_examples examples
              .about &nbsp | &nbsp
              .about.option.opt_selected#opt_code code
          form#param_container( role="form" )
            .form-group
            each param in params
              +paramform( param )
          .row      
            .col-sm-12( style="margin-top:5px; margin-bottom:5px;" )
              button.btn.btn-info.btn-xs#add_param( style="margin-bottom:5px;" )
                span.glyphicon.glyphicon-plus
                span &nbsp Param
              .func#fnc1 
                span( style="color:#708; font-style:italic;" ) function
                span ( 
                span#args( style="color:#00f;" )
                ) {
              form#code_form( method="post" target="scene" action="#{ display_url }" )
                #codeGoesHere( style="margin-top: 5px; margin-bottom:5px; display=none;" )
                .func#fnc2 }
                input#params_run_input( type="hidden" name="geo_params" )
                input#code_run_input( type="hidden" name="js_code" )
                button.btn.btn-success#run_button( style="margin:10px 8px 0px 0px;" ) Run
                button.btn.btn-default#save_button( style="margin:10px 8px 0px 0px;" ) Save
          
        .col-md-7.display_area#display_area
          iframe(name="scene" style="width:100%; height:100%; border:none;")
          #functext( style="display:none;" ) #{ functext }
          // Temporarily disabled until this is all working smoothly with nice animation
          //.hide_code_panel#hide_code_panel
            //span.glyphicon.glyphicon-resize-horizontal
        
    // Save modal window
    .modal.fade#saveModal( tabindex="-1" role="dialog" aria-labelledby="saveModalLabel" aria-hidden="true" )
      .modal-dialog
        .modal-content
          .modal-header
            button.close( type="button" data-dismiss="modal" aria-hidden="true" )&times;
            h4.modal-title( id="saveModalLabel" ) Definition saved!
          .modal-body You can access your sketch at this URL:
            p 
            a#save_url( href="#{ main_url }" )= main_url
    
    script.
      var P = {
        url: "!{ main_url }",
        params: !{ JSON.stringify( params ) }
      }
    script( src="/js/jquery.min.js" )
    //script( src="/js/bootstrap.min.js" )
    script( src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" )
    script( src="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.2.0/codemirror.min.js" )
    script( src="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.2.0/mode/javascript/javascript.js" )
    script( src="/js/3sketch.js" )

    